$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// Body Structure
// ------------------------------
body {
  background-color: #fafafa;
}

header, main, footer, section {
  margin: 2em auto;
}

// Header
// ------------------------------
header {
  border-bottom: 1px solid #444;
  h1 {
    font-weight: bold;
  }
}

// User
// ------------------------------
#user {
  border: 1px solid $gray-lighter;

  .user {
    h3 { margin-top: 8px; }
    img { border-radius: 50%; }
    text-align: center;
    padding-top: 45px;
  }

  .user-stats {
    margin-bottom: 0;
    .stat {
      &:nth-child(odd) {
        background-color: $gray-lighter;
      }

      td:first-child {
        width: 50%;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
}

// Beer List
// ------------------------------
#beers section {
  display: flex;
  flex-flow: row wrap;
}

#beers article.beer {
  margin: 10px;

  .beer-btn {
    cursor: pointer;

    img {
      transition: all .45s ease;
      border-radius: 50%;
      border: 4px solid $gray-lighter;
      width: 150px;
      height: 150px;
      box-shadow: 0 0 5px black;
    }

    &:hover {
      img {
        border-color: $brand-danger;
        box-shadow: 0 4px 10px black;
      }
    }
  }

  .brewery-map {
    margin-top: 1em;
    width: 568px;
    height: 250px;
  }
}

// Footer
// ------------------------------
footer {
  font-size: .75em;
  padding-top: 5px;
  border-top: 1px solid #444;
}